/* Header */
.background-navigation {
    background-color: #000324;
    opacity: 1;
}

.navbar-nav .nav-link {
    text-align: left;
    font: normal normal normal 20px/26px 'Dosis', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.reserve-border {
    border: 2px solid #E5FEFF;
}

.background-header-img {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    opacity: 1;
}

.background-header-centertxt {
    background-color: #000324;
    height: 232px;
    opacity: 0.8;
}

.background-header-centertxt h1 {
    text-align: center;
    font: normal normal normal 45px/57px 'Dosis', sans-serif;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    margin-top: 59px;
}

.background-header-centertxt p {
    text-align: center;
    font: normal normal normal 16px/20px 'Source Sans 3', sans-serif;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    margin-top: 14px;
}

/* Header */

/* Main */
.welcome-text-header {
    text-align: left;
    font: normal normal normal 35px/44px 'Dosis', sans-serif;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin-top: 100px;
    margin-left: 12px;
    margin-right: 100px;
}

.welcome-text-info {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3', sans-serif;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 100px;
}

.background-welcome-img {
    background-image: url(../images/hamsterhomejpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 416px;
    width: 369px;
    opacity: 1;
    margin-top: 109px;
    margin-left: 50px;
}

.left-award-img {
    background-image: url(../images/awardfinest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 153px;
    width: 200px;
    opacity: 1;
    margin-left: 12px;
    margin-right: 50px;
}

.middle-award-img {
    background-image: url(../images/awardsatisfaction.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 193px;
    width: 200px;
    opacity: 1;
    margin-right: 70px;
}

.right-award-img {
    background-image: url(../images/awardgenuine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 175px;
    width: 200px;
    opacity: 1;
    margin-right: 75px;
}

.background-rooms-img {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 738px;
    opacity: 1;
    margin-top: 91px;
}

.background-rooms-img h3 {
    text-align: center;
    font: normal normal normal 35px/44px 'Dosis', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 31px;
    margin-bottom: 31px;
}

.card .card-title {
    text-align: left;
    font: normal normal normal 25px/32px 'Dosis';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.card .card-text {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    padding-right: 0;
    line-height: 2.5;
    white-space: nowrap;
}

ul li span {
    position: relative;
    left: -10px;
}

.reserve-button {
    text-align: left;
    font: normal normal bold 20px/25px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 0.4rem;
}

.beach-side-reserve-button {
    position: relative;
    left: 0.4rem;
    bottom: 0.5rem;
}

.packages-header {
    text-align: center;
    font: normal normal normal 35px/44px 'Dosis';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin-top: 106.5px;
    margin-bottom: 19.5px;
}

.hamster-wedding-img {
    background-image: url(../images/hamsterwedding.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 234px;
    width: 561px;
    opacity: 1;
    margin-top: 0px;
    margin-left: -30px;
}

.hamster-spring-img {
    background-image: url(../images/hamsterspring.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 234px;
    width: 561px;
    opacity: 1;
    margin-top: 0px;
    margin-left: 30px;
}

.hamster-cheese-img {
    background-image: url(../images/hamstercheese.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 234px;
    width: 561px;
    opacity: 1;
    margin-top: 0px;
    margin-left: -30px;
    margin-bottom: 95px;
}

.packages-text-header {
    text-align: left;
    font: normal normal normal 25px/32px 'Dosis';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 7px;
}

.packages-text-price {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1F51A8;
    opacity: 1;
    padding-top: 10px;
    padding-left: 7px;
}

.packages-text-info {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    padding-top: 10px;
    padding-left: 7px;
    margin-right: -40px;
}

.packages-text-header-cen {
    text-align: left;
    font: normal normal normal 25px/32px 'Dosis';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -10px;
}

.packages-text-price-cen {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1F51A8;
    opacity: 1;
    padding-top: 10px;
    margin-left: -10px;
}

.packages-text-info-cen {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -30px;
}

.amenities-background-img {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 548px;
    opacity: 1;
}

.amenities-text-header {
    text-align: center;
    font: normal normal normal 35px/44px 'Dosis';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 45px;
}

.amenities-text-body {
    text-align: center;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 17px;
}

.amenities-text-imgcaption-left {
    text-align: right;
    font: normal normal bold 20px/25px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amenities-text-imgcaption-center {
    text-align: center;
    font: normal normal bold 20px/25px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.amenities-text-imgcaption-right {
    text-align: left;
    font: normal normal bold 20px/25px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.background-reserve {
    background-color: #000324;
    opacity: 1;
    height: 207px;
    margin-top: 101px;
}

.reserve-text-header {
    text-align: center;
    font: normal normal normal 35px/44px 'Dosis';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 23.5px;
    margin-bottom: 25.5px;
}

.reserve-front-img {
    background-image: url(../images/hamsterreserve.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 414px;
    width: 1137px;
    opacity: 1;
}

.reserve-form-label-text {
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.reserve-form-avail-button {
    text-align: center;
    font: normal normal bold 20px/25px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/* .reserve-check-button {
    background: #006EDB 0% 0% no-repeat padding-box;
    border: 1px solid #000DC7;
    opacity: 1;
} */

.footer-background-img {
    background-color: #000324;
    opacity: 1;
    height: 300px;
    margin-top: 101px;
}

.footer-text {
    text-align: center;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}