.background-navigation {
    background-color: #000324;
    opacity: 1;
}

.navbar-nav .nav-link {
    text-align: left;
    font: normal normal normal 20px/26px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.reserve-border {
    border: 2px solid #E5FEFF;
}

.background-header-img {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    opacity: 1;
}

.background-header-centertxt {
    background-color: #000324;
    height: 232px;
    /* width: 945px; */
    opacity: 0.8;
}

.background-header-centertxt h1 {
    text-align: center;
    font: normal normal normal 45px/57px Dosis;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    margin-top: 59px;
}

.background-header-centertxt p {
    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    margin-top: 14px;
}

h2 {
    text-align: left;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

p {
    text-align: left;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    margin-top: 22px;
}